html {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    width: 1000px;
    height: 500px;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.5em;
    color: hsl(0, 0%, 95%);
    margin-top: 30px;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
}

/*-----Buttons-----*/

button {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    margin-top: 90px;
    width: 150px;
    padding: 12px;
    border-style: none;
    border-radius: 30px;
    background-color: hsl(0, 0%, 95%);
}

.col-1-button {
    color: hsl(31, 77%, 52%);
}

.col-2-button {
    color: hsl(184, 100%, 22%);
}

.col-3-button {
    color: hsl(179, 100%, 13%);
}

/*-----Buttons Active-----*/

.col-1-button:hover {
    background-color: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);

    border-style: solid;
    border-width: 2px;
    border-color: hsl(0, 0%, 95%);
}

.col-2-button:hover {
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);

    border-style: solid;
    border-width: 2px;
    border-color: hsl(0, 0%, 95%);
}

.col-3-button:hover {
    background-color: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);

    border-style: solid;
    border-width: 2px;
    border-color: hsl(0, 0%, 95%);
}

/*-----Columns-----*/

.col-1 {
    background-color: hsl(31, 77%, 52%);
    padding: 50px;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.col-2 {
    background-color: hsl(184, 100%, 22%);
    padding: 50px
}

.col-3 {
    background-color: hsl(179, 100%, 13%);
    padding: 50px;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*-----Mobile-----*/
@media (max-width: 1000px) {

    body {
        flex-direction: column;
        width: 80%;
    }

    .col-1 {
        border-bottom-left-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .col-3 {
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

      h1 {
        font-size: 3em;
    }

    p {
        font-size: 1.5em;
    }
}

